<div class="container border border-primary bg-white p-3 m-3">
    <div class="h4 fw-bold">
        Cancel Scoring?
    </div>
    <div class="text-grey">
        <div> Are you sure you want to cancel scoring for this project?</div>
    </div>
    <div class="alert alert-warning mt-3 rounded-0 border-warning">
        <div class="row">
            <div class="col col-auto pe-0"><i class="fa-solid fa-warning"></i></div>
            <div class="col fw-bold">Canceling project will stop the project here & SmartFetch will not run for this project anymore. <br />
                The client will be informed with the cancellation reason selected below.
            </div>
        </div>
    </div>
    <form>
        <label class="fw-bold">Cancellation criteria:</label>
        <div>
            <input type="checkbox" name="" id="">
        </div>
    </form>
</div>